[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
Flask = "*"
gunicorn = "*"
tensorflow = "*"
Keras = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.7"
